:root {
    --primary-color: #8AB661;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: var(--primary-color);
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    padding: 80px 0
}

.logo__mobile { display: none; }
.logo__desktop {
    font-size: 11px;
    font-weight: 700;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    padding: 0 20px;
}

h1 {
    font-weight: 600;
    font-size: 24px;
    margin-top: 48px;
}

.links {
    margin-top: 24px;
}

.links a {
    display: inline-flex;
    margin: 0 4px;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 12px;
    color: var(--primary-color);
    text-decoration: none;

    transition: box-shadow 0.2s ease;
}

.links a:hover {
    box-shadow: -5px 5px 0 var(--primary-color);
}

.links a img {
    margin-right: 12px;
}

@media (max-width: 600px) {
    .logo__desktop {
        display: none
    }

    .links a {
        display: flex;
    }

    .links a:not(first-of-type) {
        margin-top: 12px
    }

    .logo__mobile {
        text-align: center;
        padding: 20px 0;
        display: block;
    }

    .logo__mobile img {
        width: calc(100% - 40px);
    }
}

.copyable {
    display: flex;
    align-items: center;
  }

  .code-block {
    background-color: black;
    padding: 10px;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    white-space: pre;
    border: 1px solid #8AB661;
    border-radius: 4px;
    display: inline-block;
  }

  .code-block code {
    color: #8AB661;
    font-weight: bold;
  }

  .copy-button {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }

  .copy-button img {
    width: 20px;
    height: 20px;
  }

  .copy-button[data-tooltip] {
    position: relative;
  }

  .copy-button[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }

  .copy-button:hover[data-tooltip]::after {
    opacity: 1;
  }