* {
    box-sizing: border-box;
  }
  
  body {
    font: 14px 'Fira Code', monospace;
    letter-spacing: -0.75px;
    margin: 0;
    background: #2F2D83;
    color: #F5F4FC;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative; /* Add this line */
  }
  
  .side-by-side {
    flex: 1;
    display: flex;
  }
  
  .editor-wrapper {
    flex: 1;
    margin: 4px;
    overflow: auto;
    position: relative; /* Add this line */
  }
  
  .toolbar {
    position: absolute; /* Add this line */
    top: 4px;
    right: calc(100% + 4px); /* Adjust the distance as needed */
    margin: 0;
    text-align: right;
    z-index: 1;
  }
  
  .my-editor-class {
    font-family: 'Fira Code', monospace !important;
    letter-spacing: -0.75px;
    font-size: 14px;
    resize: none;
    padding: 0.5em;
    white-space: pre-wrap;
    display: block;
    background: #2d2d2d;
    color: #cccccc;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0;
    border: 1px solid #00000040;
  }
  